.box {
   display: flex;
   max-width: 1000px;
   border: 5px solid black;
   height: 400px;
}


.text {
   border: 3px solid rosybrown;
   width: 500px;
}

.text:nth-child(1) {


}

.text:nth-child(2) {


}