.box {
   display: flex;
   /* flex-direction: column; */
   max-width: 1000px;
   border: 5px solid black;
   height: 1000px;
   justify-content: space-between;
   
   
}


.text {
   border: 3px solid rosybrown;
   flex-basis: 300px;
   width: 200px;
}

.text:nth-child(1) {
flex: 0 1 auto;

}

.text:nth-child(2) {

/* width: 600px; */
}